<!doctype html>
<html lang="<%= locale -%>">
<head>
  <meta charset="utf-8">
  <title><%= school.name %></title>
</head>
<body>
  <%= yield %>
  <footer>
    Updated <time datetime="<%= iso_date -%>"><%= human_date -%></time>.
  </footer>
</body>
</html>
