<!doctype html>
<html lang="<%= site_resource_set['lang'] %>">
<head>
  <%= partial "ga" %>
  <meta charset="<%= site_resource_set['charset'] %>">
  <meta name="viewport" content="site_resource_set['viewport']">
  <title><%= page_title(current_page.data.title) %></title>
  <link rel="icon" type="image/png" sizes="32x32" href="<%= school_logo_url(['w_32']) %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= school_logo_url(['w_16']) %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= school_logo_url(['w_180']) %>">
  <meta name="msapplication-square150x150logo" content="<%= school_logo_url(['w_150']) %>">
  <meta property="og:title" content="<%= page_title(current_page.data.title) %>">
  <meta property="og:image" content="<%= school_logo_url %>">
</head>
<body>
  <%= yield %>
  <footer>
    Updated <time datetime="<%= iso_date -%>"><%= human_date -%></time>.
  </footer>
</body>
</html>
