<!doctype html>
<html lang="<%= locale -%>">
<head>
  <%= partial "ga" %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title><%= current_page.data.title %> - <%= school.name %></title>
</head>
<body>
  <%= yield %>
  <footer>
    Updated <time datetime="<%= iso_date -%>"><%= human_date -%></time>.
  </footer>
</body>
</html>
