---
title: Contact Us
---
<h1><%= current_page.data.title %></h1>
  <h2>Address</h2>
  <address>
    <%= school_resource_set['legal_name'] %><br>
    <%= school_resource_set['address'] %><br>
    <%= school_resource_set['town'] %><br>
    <%= school_resource_set['county'] %><br>
    <%= school_resource_set['postcode'] %>
  </address>
  <h2>Telephone</h2>
  <address>
    <%= school_resource_set['telephone'] %>
  </address>
  <h2>Email</h2>
  <address>
    <%= school_resource_set['email'] %>
  </address>
<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"School",
  "address":{
    "@type":"PostalAddress",
    "addressCountry":"<%= school_resource_set['country'] %>",
    "addressLocality":"<%= school_resource_set['town'] %>",
    "addressRegion":"<%= school_resource_set['county'] %>",
    "postalCode":"<%= school_resource_set['postcode'] %>",
    "streetAddress":"<%= school_resource_set['address'] %>"
  },
  "email":"<%= school_resource_set['email'] %>",
  "legalName":"<%= school_resource_set['legalName'] %>",
  "location":{ 
    "@type":"Place",
    "geo":{
      "@type":"GeoCoordinates",
      "latitude":"<%= school_resource_set['latitude'] %>",
      "longitude":"<%= school_resource_set['longitude'] %>"
    }
  },
  "logo":"<%= school_logo_url %>",
  "telephone":"<%= school_resource_set['telephone'] %>",
  "description":"<%= school_resource_set['description'] %>",
  "name":"<%= school_resource_set['name'] %>",
  "sameAs":"<%= school_resource_set['officialWebsite'] %>",
  "url":"<%= school_resource_set['urlRoot'] %>"
}
</script>
