---
title: Contact Us
---
<h1><%= current_page.data.title %></h1>
  <h2>Address</h2>
  <address>
    <%= school['legal_name'] %><br>
    <%= school['address'] %><br>
    <%= school['town'] %><br>
    <%= school['county'] %><br>
    <%= school['postcode'] %>
  </address>
  <h2>Telephone</h2>
  <address>
    <%= school['telephone'] %>
  </address>
  <h2>Email</h2>
  <address>
    <%= school['email'] %>
  </address>
<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"School",
  "address":{
    "@type":"PostalAddress",
    "addressCountry":"<%= school['country'] %>",
    "addressLocality":"<%= school['town'] %>",
    "addressRegion":"<%= school['county'] %>",
    "postalCode":"<%= school['postcode'] %>",
    "streetAddress":"<%= school['address'] %>"
  },
  "email":"<%= school['email'] %>",
  "legalName":"<%= school['legalName'] %>",
  "location":{ 
    "@type":"Place",
    "geo":{
      "@type":"GeoCoordinates",
      "latitude":"<%= school['latitude'] %>",
      "longitude":"<%= school['longitude'] %>"
    }
  },
  "logo":"<%= school_logo_url %>",
  "telephone":"<%= school['telephone'] %>",
  "description":"<%= school['description'] %>",
  "name":"<%= school['name'] %>",
  "sameAs":"<%= school['officialWebsite'] %>",
  "url":"<%= school['urlRoot'] %>"
}
</script>
