---
title: Contact Us
---
<% school2 = resource_set('school') %>
<h1><%= current_page.data.title %></h1>
<h2>Address</h2>
<address>
<%= school2["legal_name"] %><br>
<%= school2["address"] %><br>
<%= school2["town"] %><br>
<%= school2["county"] %><br>
<%= school2["postcode"] %>
</address>
<h2>Telephone</h2>
<address>
<%= school2["telephone"] %>
</address>
<h2>Email</h2>
<address>
<%= school2["email"] %>
</address>
<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"School",
  "address":{
    "@type":"PostalAddress",
    "addressCountry":"<%= school2['country'] %>",
    "addressLocality":"<%= school2['town'] %>",
    "addressRegion":"<%= school2['county'] %>",
    "postalCode":"<%= school2['postcode'] %>",
    "streetAddress":"<%= school2['address'] %>"
  },
  "email":"<%= school2['email'] %>",
  "legalName":"<%= school2['legalName'] %>",
  "location":{ 
    "@type":"Place",
    "geo":{
      "@type":"GeoCoordinates",
      "latitude":"<%= school2['latitude'] %>",
      "longitude":"<%= school2['longitude'] %>"
    }
  },
  "logo":"<%= cloudinary_image_url(contentful_image_url(school2['logoID'])) %>",
  "telephone":"<%= school2['telephone'] %>",
  "description":"<%= school2['description'] %>",
  "name":"<%= school2['name'] %>",
  "sameAs":"<%= school2['officialWebsite'] %>",
  "url":"<%= school2['urlRoot'] %>"
}
</script>
