---
title: Welcome to Middleman
---


<h1>
  Middleman is Running
</h1>

<ul>
<% diary_dates.each do |id, diaryDate| %>
  <li><%= diaryDate.description %></li>
<% end %>
</ul>
<%= link_to 'contact', 'contact.html' %>

<% articles.each do |id, article| %>
  <div>
    <%= article.title %>
    <% unless article.pictures.nil? %>
      <% article.pictures.each do |p| %>
        <%= cloudinary_image_tag(p.url, alt: p.title) %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= cloudinary_image_tag(school.logo.url, alt: school.logo.title) %>
