---
title: Welcome to Middleman
---


<h1>
  Middleman is Running
</h1>

<ul>
<% diary_dates.each do |id, diaryDate| %>
  <li><%= diaryDate.description %></li>
<% end %>
</ul>
<%= link_to 'contact', 'contact-us' %>

<% articles.each do |id, article| %>
  <div>
    <%= article.title %>
    <% unless article.pictures.nil? %>
      <% article.pictures.each do |p| %>
        <%= cloudinary_image_tag(p.url, alt: p.title) %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= image_tag(
  school_logo_url,
  alt: contentful_image_title(school['logoID'])
) %>
